@page "/counter-syncasync-1"

<PageTitle>Sample of Counter Synchronous and Asynchronous 1</PageTitle>

<h1>Counter Synchronous and Asynchronous</h1>

<p>
    This component demonstrates how to use synchronous and asynchronous code in Blazor.
</p>
<p>
    First sample: The counter is incremented synchronously when you click the button.
</p>
<p>
    <button class="btn btn-primary">Click me (run synchronously)</button>
</p>
<p>
    Second sample: The counter is incremented asynchronously when you click the button.
</p>
<p>
    <button class="btn btn-primary">Click me (run asynchronously)</button>
</p>


@code {

}
